<div class="main-content">
  <section>
    <div class="container padding-left:10px mt-5">
      <div class="col-md-6">
        <h2 class="text-center">Add Category</h2>
        <form
          action="/admin/add-category"
          method="post"
          id="userLogin"
          enctype="multipart/form-data"
        >
          <div class="form-outline mb-4">
            <input
              name="category"
              type="text"
              class="form-control"
              placeholder="Enter Category Name"
              oninput="this.value=this.value.toLocaleUpperCase()"
              required
            />
          </div>
          <div class="form-outline mb-4">
            <input
              name="description"
              type="text"
              class="form-control"
              placeholder="Type description"
              required
            />
          </div>
          <div class="form-outline mb-4">
            <input
              name="image"
              type="file"
              class="form-control"
              placeholder="Chose product image"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </section>
</div>