<section>
    <div class="row">
        <div class="container">
            <img class="mx-auto d-block" src="/public/product-images/download.png">
           
        </div>
        <div class="col col-md-12 text-center">
             <h1 style="color:green; " class="text-center"><i> Order placed successfully</i></h1>
            <a href="/orders" class="btn btn-primary">View Orders</a>
        </div>
    </div>
    
</section>