.container {  
    margin-top: 30px;  
    color: green;  
    }  
    .design {  
    color: pink;  
    font-size: 20px;  
    margin-top: 30px;  
    }  
    body {  
    background-color: black;  
    }  
    span {  
    color: pink;  
    }